<%- include('common/header') %>
    <div class = "about-content">
        <h2> About the website</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illum fugit adipisci autem veritatis deleniti assumenda harum dicta iure beatae, facere praesentium quaerat, sit nihil, ipsum facilis nemo magnam! Minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illum fugit adipisci autem veritatis deleniti assumenda harum dicta iure beatae, facere praesentium quaerat, sit nihil, ipsum facilis nemo magnam! Minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illum fugit adipisci autem veritatis deleniti assumenda harum dicta iure beatae, facere praesentium quaerat, sit nihil, ipsum facilis nemo magnam! Minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illum fugit adipisci autem veritatis deleniti assumenda harum dicta iure beatae, facere praesentium quaerat, sit nihil, ipsum facilis nemo magnam! Minima?</p>
    </div>
<%- include('common/footer') %>